.Post {
    margin-top: 20px;
    display: flex;
}

.Post_Img img {
    width: 50px;
    height: 50px;
    border-radius: 30px;
}

.Post_Message {
    font-size: 15px;
    margin-left: 20px;
    margin-top: 10px;
}