.Friend_Wrapper {
    width: 60px;
    height: 80px;
    display: grid;
    grid-template-rows: 60px 20px;
}

.ava img{
    border-radius: 30px;
    width: 60px;
}

.name {
    font-size: 15px;
    color: white;
    text-align: center;
    width: 60px;


}